@{
    ViewData["Title"] = "Şifrə sıfırlama təsdiqi";
}

<h2>@ViewData["Title"]</h2>
<p>Əgər bu email sistemdə qeydiyyatlıdırsa, şifrəni sıfırlamaq üçün link göndərildi. Zəhmət olmasa emailinizi yoxlayın.</p>