@using StreamitMVC.Extensions.Enums
@model RegisterVM

<div style="background: url('/assets/images/pages/01.webp'); background-size: cover; background-repeat: no-repeat; position: relative; min-height: 100vh;">
    <div class="container py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="user-login-card bg-body p-4 rounded shadow">
                    <h4 class="text-center mb-5">Create Your Account</h4>

                    <form asp-action="Register" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-5">
                            <div class="col">
                                <label asp-for="Name" class="text-white fw-500 mb-2"></label>
                                <input asp-for="Name" class="form-control rounded-0" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Surname" class="text-white fw-500 mb-2"></label>
                                <input asp-for="Surname" class="form-control rounded-0" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="UserName" class="text-white fw-500 mb-2"></label>
                                <input asp-for="UserName" class="form-control rounded-0" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Email" class="text-white fw-500 mb-2"></label>
                                <input asp-for="Email" class="form-control rounded-0" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Password" class="text-white fw-500 mb-2"></label>
                                <input asp-for="Password" class="form-control rounded-0" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="ConfirmPassword" class="text-white fw-500 mb-2"></label>
                                <input asp-for="ConfirmPassword" class="form-control rounded-0" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender"></label>
                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                                    <option value="">-- Cins seçin --</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="ImageFile" class="text-white fw-500 mb-2"></label>
                                <input asp-for="ImageFile" type="file" class="form-control rounded-0" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="BirthDate" class="text-white fw-500 mb-2"></label>
                                <input asp-for="BirthDate" class="form-control rounded-0" type="date" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="PhoneNumber">Telefon nömrəsi</label>
                                <input asp-for="PhoneNumber" class="form-control" placeholder="(050) 123-45-67" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Address" class="text-white fw-500 mb-2"></label>
                                <textarea asp-for="Address" class="form-control rounded-0" rows="3"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <label class="list-group-item d-flex align-items-center mt-5 mb-3 text-white">
                            <input class="form-check-input m-0 me-2" type="checkbox" required>
                            I've read and accept the <a href="terms-of-use.html" class="ms-1">terms & conditions*</a>
                        </label>

                        <div class="row text-center">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="full-button">
                                    <div class="iq-button">
                                        <button type="submit" class="btn text-uppercase position-relative w-100">
                                            <span class="button-text">Sign Up</span>
                                            <i class="fa-solid fa-play"></i>
                                        </button>
                                    </div>
                                    <p class="mt-2 mb-0 fw-normal text-white">
                                        Already have an account?
                                        <a asp-action="Login" asp-controller="Account" class="ms-1 text-info">Login</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
