@using StreamitMVC.ViewModels.AccountVM
@model ResetPasswordVM

<h2>Şifrəni Sıfırla</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div>
        <label>Yeni Şifrə</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label>Şifrəni Təsdiqlə</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit">Şifrəni Yenilə</button>
</form>

