@model Movie

<div class="container mt-4">
    <h2>@Model.Name</h2>

    <video width="100%" height="auto" controls>
        <source src="~/assets/images/movies/@Model.VideoUrl" type="video/mp4">
        Sizin brauzer videonu dəstəkləmir.
    </video>

</div>
