@* @model UpdateSessionVM *@

@* <div class="content-inner container-fluid pb-0" id="page_layout"> *@
@*     <div> *@
@*         <div class="row"> *@
@*             <div class="col-sm-12 col-lg-6"> *@
@*                 <div class="card"> *@
@*                     <div class="card-header d-flex justify-content-between"> *@
@*                         <div class="header-title"> *@
@*                             <h4 class="card-title">Update Session</h4> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="card-body"> *@
@*                         <form method="post"> *@
@*                             <input type="hidden" asp-for="Id" /> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="StartTime">Start Time</label> *@
@*                                 <input asp-for="StartTime" type="datetime-local" class="form-control" /> *@
@*                                 <span class="text-danger" asp-validation-for="StartTime"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="EndTime">End Time</label> *@
@*                                 <input asp-for="EndTime" type="datetime-local" class="form-control" /> *@
@*                                 <span class="text-danger" asp-validation-for="EndTime"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="MovieId">Movie</label> *@
@*                                 <select asp-for="MovieId" asp-items="new SelectList(Model.Movies, "Id", "Name", Model.MovieId)" class="form-control"> *@
@*                                     <option disabled>Choose movie</option> *@
@*                                 </select> *@
@*                                 <span class="text-danger" asp-validation-for="MovieId"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="HallId">Hall</label> *@
@*                                 <select asp-for="HallId" asp-items="new SelectList(Model.Halls, "Id", "Name", Model.HallId)" class="form-control"> *@
@*                                     <option disabled>Choose hall</option> *@
@*                                 </select> *@
@*                                 <span class="text-danger" asp-validation-for="HallId"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="CinemaId">Cinema</label> *@
@*                                 <select asp-for="CinemaId" asp-items="new SelectList(Model.Cinemas, "Id", "Name", Model.CinemaId)" class="form-control"> *@
@*                                     <option disabled>Choose cinema</option> *@
@*                                 </select> *@
@*                                 <span class="text-danger" asp-validation-for="CinemaId"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="HallPriceId">Hall Price</label> *@
@*                                 <select asp-for="HallPriceId" asp-items="new SelectList(Model.HallPrices, "Id", "Price", Model.HallPriceId)" class="form-control"> *@
@*                                     <option disabled>Choose price</option> *@
@*                                 </select> *@
@*                                 <span class="text-danger" asp-validation-for="HallPriceId"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="LanguageId">Language</label> *@
@*                                 <select asp-for="LanguageId" asp-items="new SelectList(Model.Languages, "Id", "Name", Model.LanguageId)" class="form-control"> *@
@*                                     <option disabled>Choose language</option> *@
@*                                 </select> *@
@*                                 <span class="text-danger" asp-validation-for="LanguageId"></span> *@
@*                             </div> *@

@*                             <div class="form-group"> *@
@*                                 <label asp-for="AvailableSeats">Available Seats</label> *@
@*                                 <input asp-for="AvailableSeats" class="form-control" /> *@
@*                                 <span class="text-danger" asp-validation-for="AvailableSeats"></span> *@
@*                             </div> *@

@*                             <button type="submit" class="btn btn-primary">Submit</button> *@
@*                         </form> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
