@model UpdateLanguageVM

<div class="content-inner container-fluid pb-0" id="page_layout">
    <div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Create Tag</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <img width="100px" height="150px" src="~/assets/images/@Model.ExistedFlagImage" />
                                <input asp-for="ExistedFlagImage" type="hidden" value="@Model.ExistedFlagImage" class="form-control" placeholder="Photo">
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="Code">Code</label>
                                <input asp-for="Code" class="form-control">
                                <span class="text-danger" asp-validation-for="Code"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="FlagImage">FlagImage</label>
                                <input asp-for="FlagImage" class="form-control">
                                <span class="text-danger" asp-validation-for="FlagImage"></span>
                            </div>
                         
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
