<div class="iq-breadcrumb" style="background-image: url(../assets/images/pages/01.webp);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center">
                    <h2 class="title">Blog Listing</h2>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                        <li class="breadcrumb-item active">Blog Listing</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>      <!--bread-crumb-->

<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog1.webp" alt="blogImg-01" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>February 2, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">The Most Anticipated Movies</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        Dramas
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        comedy
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        drama
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        trailers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog2.webp" alt="blogImg-02" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>February 2, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">Everything You Need to Know About</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        Trailer
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Comedy
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Movie Trailers
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Trailers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog3.webp" alt="blogImg-03" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>February 2, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">My streaming Black Pearl</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        Movie Trailers
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Movie trailers
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Mystery
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Thrill
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog4.webp" alt="blogImg-04" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>February1, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">Cookies and Web Beacons</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        tc comedies
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Comedy
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        tc rumors
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        tv series
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog5.webp" alt="blogImg-05" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>January 30, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">Birds Of Prey Star Says She’s Definitely Open To A Ghost Return</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        Dramas
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Comedies
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Drama
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Horror
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog6.webp" alt="blogImg-06" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>January 30, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">Saturday Night Live’ Re-Enacts Biden and Harris’ Victory Speeches</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        Historical
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        historical
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Movie
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        mystery
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <a href="blog-detail.html">
                                <img src="~/assets/images/blog/blog7.webp" alt="blogImg-07" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="iq-blog-detail">
                            <div class="iq-blog-meta d-flex mb-3">
                                <ul class="list-inline mb-0">
                                    <li class="border-gredient-left">
                                        <a href="blog-date.html"> <span>January 30, 2019</span></a>
                                    </li>
                                </ul>
                                <ul class="iq-blogtag list-inline">
                                    <li class="border-gredient-left"><a href="blog-tag.html">Goldenmace</a></li>
                                </ul>
                            </div>

                            <a href="blog-detail.html">
                                <h3 class="mb-3 line-count-1 blog-heading">Gillian Anderson Shares the Photos From The Crown</h3>
                            </a>
                            <p class="line-count-2">Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</p>
                            <div class="iq-button">
                                <a href="blog-detail.html" class="btn text-uppercase position-relative">
                                    <span class="button-text">Read More </span>
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <ul class="iq-blog-meta-cat-tag iq-blogcat mt-4">
                                <li class="iq-tag-title">
                                    <i class="fas fa-film" aria-hidden="true"></i>
                                    Categories:
                                </li>
                                <li>
                                    <a href="blog-category.html">
                                        movie
                                    </a>
                                </li>
                            </ul>
                            <ul class="iq-blog-meta-cat-tag iq-blogtag">
                                <li class="iq-tag-title">
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Tags:
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        comedies
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        Movie trailers
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-tag.html">
                                        tv series
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="widget-area">
                    <div class="widget widget_search">
                        <form method="get" class="search-form" action="#" autocomplete="off">
                            <div class="block-search_inside-wrapper position-relative d-flex">
                                <input type="search" class="form-control" placeholder="Search" required="">
                                <button type="submit" class="block-search_button">
                                    <svg class="icon-16" width="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></circle>
                                        <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                                              stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="widget iq-widget-blog">
                        <h5 class="widget-title position-relative">Recent Post</h5>
                        <ul class="list-inline p-0 m-0">
                            <li class="d-flex align-items-center gap-4">
                                <div class="img-holder">
                                    <a href="#">
                                        <img src="~/assets/images/blog/01.webp" alt="" class="img-fluid h-100 w-100 object-cover">
                                    </a>
                                </div>
                                <div class="post-blog">
                                    <a class="new-link" href="blog-detail.html">
                                        <h6 class="post-title">The Most Anticipated Movies</h6>
                                    </a>
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item border-0 mb-0 pb-0">
                                            <a href="#" class="blog-data">
                                                <i class="far fa-calendar-alt me-1" aria-hidden="true"></i>September 23, 2022
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-flex align-items-center gap-4">
                                <div class="img-holder">
                                    <a href="#">
                                        <img src="~/assets/images/blog/blog2.webp" alt="" class="img-fluid h-100 w-100 object-cover">
                                    </a>
                                </div>
                                <div class="post-blog">
                                    <a class="new-link" href="blog-detail.html">
                                        <h6 class="post-title">Amy Adams Always Dreamed</h6>
                                    </a>
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item border-0 mb-0 pb-0">
                                            <a href="#" class="blog-data"> <i class="far fa-calendar-alt me-1" aria-hidden="true"></i>September 23, 2022 </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-flex align-items-center gap-4">
                                <div class="img-holder">
                                    <a href="#">
                                        <img src="~/assets/images/blog/blog3.webp" alt="" class="img-fluid h-100 w-100 object-cover">
                                    </a>
                                </div>
                                <div class="post-blog">
                                    <a class="new-link" href="blog-detail.html">
                                        <h6 class="post-title">WandaVision Will Reveal Scarlet Witch’s Untapped Powers </h6>
                                    </a>
                                    <ul class="list-inline mb-2">
                                        <li class="list-inline-item  border-0 mb-0 pb-0">
                                            <a href="#" class="blog-data">
                                                <i class="far fa-calendar-alt me-1" aria-hidden="true"></i>September 23, 2022
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                        <h5 class="widget-title position-relative">Categories</h5>
                        <ul class="p-0 m-0 list-unstyled">
                            <li>
                                <a href="blog-category.html" class="position-relative">Dramas</a>
                                <span class="post_count"> (4) </span>
                            </li>
                            <li>
                                <a href="blog-category.html" class="position-relative">Historical</a>
                                <span class="post_count"> (7) </span>
                            </li>
                            <li>
                                <a href="blog-category.html" class="position-relative">Movie</a>
                                <span class="post_count"> (2) </span>
                            </li>
                            <li>
                                <a href="blog-category.html" class="position-relative">Movie Trailers</a>
                                <span class="post_count"> (6) </span>
                            </li>
                            <li>
                                <a href="blog-category.html" class="position-relative">Trailers</a>
                                <span class="post_count"> (4) </span>
                            </li>
                            <li>
                                <a href="blog-category.html" class="position-relative">TV Comedies</a>
                                <span class="post_count"> (3) </span>
                            </li>
                            <li>
                                <a href="blog-category.html" class="position-relative">TV Rumors</a>
                                <span class="post_count"> (4) </span>
                            </li>
                            <li class="border-bottom-0">
                                <a href="blog-category.html" class="position-relative">TV Series</a>
                                <span class="post_count"> (5) </span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title position-relative">Tags</h5>
                        <ul class="p-0 m-0 list-unstyled gap-2 widget_tags">
                            <li>
                                <a href="blog-tag.html" class="position-relative">Action</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Comedies</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Comedy</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Dramas</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Historical</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Horror</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Movie</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Movie Trailers</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Mystery</a>
                            </li>
                            <li>
                                <a href="blog-tag.html" class="position-relative">Rumors</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title position-relative">Follow Us :</h5>
                        <ul class="p-0 m-0 list-unstyled widget_social_media">
                            <li>
                                <a href="https://www.facebook.com/" class="position-relative"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="position-relative"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/" class="position-relative"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="position-relative"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget text-center">
                        <a href="../shop/shop.html">
                            <img class="img-fluid"
                                 src="~/assets/images/blog/01.webp" loading="lazy" alt="streamit" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>